.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.home-blog h2{
	text-align: center;
	width: auto;
}

#home-blog-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	article {
		position: relative;
		margin: 10px;
		h3 {
			position: absolute;
			bottom: -15px;
			left: 0;
			right: 0;
			background-color: white;
			text-align: center;
			opacity: 0.7;
			color: black;
			&:hover {
				color: $color__link-hover;
			}
		}
	}
}



#primary > article.student-category {
	margin-bottom: 50px;
	img {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}
	
}

.student-wrapper {
	display: flex;
	flex-wrap: wrap;
	article {
		max-width: 300px;
		margin: 0 auto;
	}
}

#title-404 {
	margin: 10px auto;
	width: max-content;
	font-size: 1em;
}
#content-404 > *{
	width: max-content;
	margin: auto;
	& input[type="search"] {
		width: 70%;
	}
}

@media screen and (min-width: 37.5em) {
	#home-blog-wrapper {
		flex-wrap: nowrap;
		article {
			width: 200px;
		}
	}
	.staff-wrapper {
		display: flex;
		flex-wrap: wrap;
		article {
			width: 48%;
			margin-right: 10px;
		}
	}
	.student-wrapper > article {
		width: 48%;
	}
	#title-404 {
	font-size: 2em;
	}
	#content-404 > *{
		& input[type="search"] {
			width: 300px;
		}
	}
}

@media screen and (min-width: 56.5em){
	.student-wrapper > article {
		width: 30%;
		margin-right: 10px;
	}
	#content-404 > *{
		& input[type="search"] {
			width: 600px;
		}
	}
}

