.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	max-width: 90px;
}

@media screen and (min-width: 37.5em) {
	.custom-logo-link {
		margin-top: 10px;
	}
}