.no-sidebar {
  .site {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
    grid-template-areas:
      "header header header"
      ". main . "
      "footer footer footer";
  }
}
